<footer class="container-fluid px-0" id="pie-contenedor">
      <div id="pie-contenido" class="p-5">

          <div class="row justify-content-between" id="servicios">

              <div class="col-12 col-lg-3 mb-5 mb-lg-0">
                  <h3 class="mb-3">Informacion</h3>
                  <a href="***" class="d-block">Sobre Nosotros</a>
                  <a href="***" class="d-block">Sucursales</a>
                  <a href="***" class="d-block">Trabaja Con Nosotros</a>
              </div>

              <div class="col-12 col-lg-3 mb-5 mb-lg-0">
                  <h3 class="mb-3">Contacto</h3>
                  <a href="***" class="d-block">Contacto</a>
                  <a href="***" class="d-block">Devoluciones</a>
                  <a href="***" class="d-block">Mas Ayuda</a>
              </div>

              <div class="col-12 col-lg-3 mb-5 mb-lg-0">
                  <h3 class="text-center mb-3">Redes Sociales</h3>
                  <div class="d-flex justify-content-evenly">
                    <div class="col-2">
                      <a href="***">
                        <i class="fab fa-facebook-square logo-social" id="logo-face"></i>
                      </a>
                    </div>
                    <div class="col-2">
                      <a href="***">
                          <i class="fab fa-twitter-square logo-social" id="logo-twit"></i>
                      </a>
                    </div>
                    <div class="col-2">
                      <a href="***">
                          <i class="fab fa-instagram-square logo-social" id="logo-inst"></i>
                      </a>
                    </div>
                    <div class="col-2">
                      <a href="***">
                          <i class="fab fa-youtube-square logo-social" id="logo-yout"></i>
                      </a>
                    </div>
                  </div>
              </div>

              <div class="col-12 col-lg-3 mb-5 mb-lg-0">
                  <h3 class="text-center mb-3">Formas De Pago</h3>
                  <img src="../../../../../assets/images/footer/pay_bancos.png" alt="pay-bancos" class="img-fluid" width="300px" height="100px">
                  <img src="../../../../../assets/images/footer/pay-stores.png" alt="pay-stores" class="img-fluid" width="300px" height="100px">
              </div>

          </div>

          <div class="row text-center">
              <div class="col">
                  <p>
                      <a href="***" id="terminos">Términos & Condiciones </a>| Aviso de Privacidad © 2020 GameStore. Todos los Derechos Reservados.
                  </p>
              </div>
          </div>

      </div>

  </footer>
