<form [formGroup]="addForm" (ngSubmit)="AddProduct()">


  <div class="row d-flex justify-content-center align-items-center mb-4">
    <div class="col-xl-4 mb-3 mb-xl-0">
        <label for="name-product-input" class="form-label">Nombre Del Producto</label>
        <input type="text" class="form-control" id="name-product-input" placeholder="Juego 'X', Consola 'X', Accesorio 'X'" formControlName="name">
    </div>
    <div class="col-xl-4 mb-3 mb-xl-0">
        <label for="price-product-input" class="form-label">Precio Del Producto</label>
        <div class="input-group p-0" for="price-product-input">
          <span class="input-group-text input-group-text-right">$</span>
          <input type="number" class="form-control input-group-text-sides text-end" aria-label="Precio En MXN" formControlName="price">
          <span class="input-group-text input-group-text-left">.99</span>
        </div>
    </div>
    <div class="col-xl-4 mb-3 mb-xl-0">
        <label for="quantity-product-input" class="form-label">Cantidad</label>
        <input type="number" class="form-control" id="quantity-product-input" min="1" formControlName="quantity">
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center mb-4">
    <div class="col-xl-4 mb-3 mb-xl-0">
      <label for="state-product-input" class="form-label">Estado Del Producto</label>
      <select class="form-select" aria-label="Estado Del Producto" id="state-product-input" formControlName="state">
        <option class="text-center"selected>...</option>
        <option class="text-center"value="onsale">En Venta</option>
        <option class="text-center"value="presale">Preventa</option>
      </select>
    </div>
    <div class="col-xl-4 mb-3 mb-xl-0">
      <label for="platform-product-input" class="form-label">Plataforma Del Producto</label>
      <select class="form-select" aria-label="Plataforma Del Producto" id="platform-product-input" formControlName="platform">
        <option class="text-center"selected>...</option>
        <option class="text-center"value="xbox">Xbox</option>
        <option class="text-center"value="playstation">PlayStation</option>
        <option class="text-center"value="nintendo">Nintendo</option>
        <option class="text-center"value="others">Otros</option>
      </select>
    </div>
    <div class="col-xl-4 mb-3 mb-xl-0">
      <label for="category-product-input" class="form-label">Categoría Del Producto</label>
      <select class="form-select" aria-label="Categoría Del Producto" id="category-product-input" formControlName="category">
        <option class="text-center"selected>...</option>
        <option class="text-center"value="game">Videojuego</option>
        <option class="text-center"value="console">Consola</option>
        <option class="text-center"value="accessory">Accesorio</option>
        <option class="text-center"value="digital">Digitales</option>
        <option class="text-center"value="prepay">Prepaid</option>
      </select>
    </div>
  </div>

  <app-upload-image (onUploadFinished)="uploadFinished($event)"></app-upload-image>

  <div class="row d-flex justify-content-center align-items-center mb-4">
    <div class="col-12">
      <label for="description-product-input" class="form-label">Descripción</label>
      <textarea class="form-control" id="description-product-input" rows="8" formControlName="description"></textarea>
    </div>
  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-success btn-lg" [disabled]="addForm.invalid">Agregar</button>
  </div>


</form>
