<div class="row d-flex justify-content-end mx-5 mx-md-0 mb-3">
  <div class="col-3 text-end">

    <a class="link-primary" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-formproduct" aria-controls="offcanvas-formproduct">
      <i class="fas fa-plus-circle me-2"></i>Agregar Producto
    </a>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-formproduct" aria-labelledby="offcanvas-formproduct-label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvas-formproduct-label">{{action}} Producto</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="closeOffcanvas()"></button>
      </div>
      <div class="offcanvas-body">
        <form [formGroup]="productForm" (ngSubmit)="addProduct()">


          <div class="row d-flex justify-content-center align-items-center mb-4">
            <div class="col-12">
                <label for="name-product-input" class="form-label">Nombre Del Producto</label>
                <input type="text" class="form-control text-center" id="name-product-input" placeholder="Juego 'X', Consola 'X', Accesorio 'X'" formControlName="name">
            </div>
            <div class="col-12">
                <label for="price-product-input" class="form-label">Precio Del Producto</label>
                <div class="input-group p-0" for="price-product-input">
                  <span class="input-group-text input-group-text-right">$</span>
                  <input type="number" class="form-control input-group-text-sides text-end" aria-label="Precio En MXN" formControlName="price">
                  <span class="input-group-text input-group-text-left">.99</span>
                </div>
            </div>
            <div class="col-12">
                <label for="quantity-product-input" class="form-label">Cantidad</label>
                <input type="number" class="form-control text-end" id="quantity-product-input" min="1" formControlName="quantity">
            </div>
          </div>

          <div class="row d-flex justify-content-center align-items-center mb-4">
            <div class="col-12">
              <label for="state-product-input" class="form-label">Estado Del Producto</label>
              <select class="form-select" aria-label="Estado Del Producto" id="state-product-input" formControlName="state">
                <option class="text-center"selected>...</option>
                <option class="text-center"value="onsale">En Venta</option>
                <option class="text-center"value="presale">Preventa</option>
              </select>
            </div>
            <div class="col-12">
              <label for="platform-product-input" class="form-label">Plataforma Del Producto</label>
              <select class="form-select" aria-label="Plataforma Del Producto" id="platform-product-input" formControlName="platform">
                <option class="text-center"selected>...</option>
                <option class="text-center"value="xbox">Xbox</option>
                <option class="text-center"value="playstation">PlayStation</option>
                <option class="text-center"value="nintendo">Nintendo</option>
                <option class="text-center"value="others">Otros</option>
              </select>
            </div>
            <div class="col-12">
              <label for="category-product-input" class="form-label">Categoría Del Producto</label>
              <select class="form-select" aria-label="Categoría Del Producto" id="category-product-input" formControlName="category">
                <option class="text-center"selected>...</option>
                <option class="text-center"value="game">Videojuego</option>
                <option class="text-center"value="console">Consola</option>
                <option class="text-center"value="accessory">Accesorio</option>
                <option class="text-center"value="digital">Digitales</option>
                <option class="text-center"value="prepay">Prepaid</option>
              </select>
            </div>
          </div>

          <!--<app-upload-image (onUploadFinished)="uploadFinished($event)"></app-upload-image>-->
          <div class="row d-flex justify-content-center align-items-center mb-4">
            <div class="col-12 mb-4">
              <label class="form-label">Imagen</label>
              <div *ngIf="action != 'Editar'"><input type="file" #file class="form-control" accept='image/*' id="image-product-input" (change)="uploadFile(file.files)"></div>
            </div>
            <div class="col-12 text-center">
              <img [src]=" imagePath ? imagePath : 'assets/images/no-image/insert-img.png'" width="230" height="230" alt="profile picture" class="img-fluid img-thumbnail">
            </div>
          </div>


          <div class="row d-flex justify-content-center align-items-center mb-4">
            <div class="col-12">
              <label for="description-product-input" class="form-label">Descripción</label>
              <textarea class="form-control" id="description-product-input" rows="8" formControlName="description"></textarea>
            </div>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success btn-lg" [disabled]="productForm.invalid" data-bs-dismiss="offcanvas" aria-label="Close">{{action}}</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>

<div class="row list-products">
  <div class="col">
    <div class="table-responsive">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="text-center"> No. </th>
            <td mat-cell *matCellDef="let product" class="text-center"> {{product.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre Del Producto </th>
            <td mat-cell *matCellDef="let product" class="text-center"> {{product.name}} </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Descripción </th>
            <td mat-cell *matCellDef="let product"> <p class="descr">{{product.description}}</p> </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Precio </th>
            <td mat-cell *matCellDef="let product" class="text-center"> ${{product.price}} </td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Cantidad </th>
            <td mat-cell *matCellDef="let product" class="text-center"> {{product.quantity}} </td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Estado </th>
            <td mat-cell *matCellDef="let product" class="text-center"> {{product.state}} </td>
          </ng-container>

          <!-- Platform Column -->
          <ng-container matColumnDef="platform">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Plataforma </th>
            <td mat-cell *matCellDef="let product" class="text-center"> {{product.platform}} </td>
          </ng-container>

          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Categoría </th>
            <td mat-cell *matCellDef="let product" class="text-center"> {{product.category}} </td>
          </ng-container>

          <!-- Image Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Imagen </th>
            <td mat-cell *matCellDef="let product" class="text-center"> <img [src]="ImgPath(product.image)" alt="image-product" width="64" height="64"> </td>
          </ng-container>

                <!-- Image Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
            <td mat-cell *matCellDef="let product" class="text-center">
              <div class="d-flex justify-content-evenly">
                <i (click)="updateProduct(product)" class="fas fa-edit icon text-warning" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-formproduct" aria-controls="offcanvas-formproduct"></i>
                <i (click)="deleteProduct(product.id)" class="fas fa-trash-alt icon text-danger"></i>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of products">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>




<!--<mat-tab-group mat-align-tabs="center" dynamicHeight>
  <mat-tab label="Lista De Productos">
    <ng-template matTabContent>
      <div class="row d-flex justify-content-center align-items-center my-5 mx-2">
        <div class="col-12">
          <app-list-products></app-list-products>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Agregar Producto">
    <ng-template matTabContent>
      <div class="row d-flex justify-content-center align-items-center m-5">
        <div class="col-xl-8">
          <app-add-product></app-add-product>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</-mat-tab-group>-->



