.modal{
  .modal-dialog{
    .modal-content{
      .modal-body{
        .product-photo{
          .upload-button{
              .btn-product-text {
                  padding: 5px;
                  background-color: rgba(0, 0, 0, 0.5);
                  color: rgb(255,255,255);
                  font-size: 15px;
                  font-weight:600;
                  &:focus {
                      border-color: rgba(200, 200, 200, 0);
                      box-shadow: 0 0 15px 0 rgba(60, 60, 60, 0.5);
                  }
              }
          }
        }
        input[type=text]{
          text-transform: capitalize;
        }
      }
    }
  }
}

.list-products{
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 10px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        .descr {
          width: 35ch;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .icon{
          cursor: pointer;
          font-size: 17px;
        }

    }
  }
}
