<div class="container-fluid bg-danger text-white">
  <div class="row">
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>
    <div class="col-12">
      <p class="display-1 text-center">ERROR 404</p>
    </div>

  </div>
</div>
